@import 'styles/index.scss';

.loader {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 1s;
	.spin {
		animation: spin 1s linear infinite;
	}
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
